# Default values for Speedtest chart.
# Update these values according to your requirements.
ingressHost: https://kubernetes.default.svc

influxdb:
  image: sjultra/influxdb-legacy:latest
  adminUser: admin
  adminPassword: password
  db: speedtest

grafana:
  image: grafana/grafana:6.7.2
  adminPassword: admin
  ROOTURL: "https://kubernetes.default.svc/api/v1/namespaces/speedtest/services/http:grafana:80/proxy/?orgId=1"
  port: 80

speedtest:
  image: sjultra/speedtest:latest
  interval: 60
  host: ""

